@import "variables";
@import "mixin";
@import "_reset";

/*
  ====================================================================
  Header
  ====================================================================
*/

.boxxx {
  @include border-radius(10px);
  height: 100px;
  width: 100px;
  border: 1px solid green;
  background-color: red;
}





/*
  ====================================================================
  Main
  ====================================================================
*/

body{

  h2{
    text-align: center;
    color: $main_color;
  }
  h3{
   text-align: center;
    color: $text_color;
   //color: $;
  }
  h4{
     font-weight: 600;
     margin: 10px 0 -7px 0;
 }
  hr{
     width: 400px;
     border: 1px solid $line_color;
 }
}
.first{
  background-color: $back_color;
  color: $text_color;
  font-family: $family;
  .icons{
    background-image: url(images/icons.png);
    background-repeat: no-repeat;
    outline: none;
    margin-bottom: 40px;
    padding: 0 80px 10px;
  }
  .speed{
    background-position: 0 -100px;
  }
  .simplicity{
    background-position: 0 10px;
  }
  .best_price{
    background-position: 0 -200px;
  }
  .buy{
    background-position: 0 -310px;
  }
}

@media only screen and (max-width: 400px){
  h5{
    font-size: 12px;
  }
  .first{
    .icons{
      padding: 0 80px;
    }
  }
}

.second{
  font-family: $family;
  background-color: $back_color2;
  h2{
    margin-top: 80px;
  }
  h4{
    margin-top: 50px;

  }
  h5{
    padding-right: 30px;
  }
  .icons {
    margin-top: 50px;
    background-image: url(images/icons_step.png);
    background-repeat: no-repeat;
    outline: none;
    padding: 0;
  }

  .first_step{
    background-position: 0 -255px;
  }
  .second_step{
    background-position: 0 -500px;
  }
  .third_step{
    background-position: 0 -750px;
  }
  .fourth_step{
    background-position: 0 -960px;
  }
  .fifth_step{
    background-position: 0 0;
  }
}
@media only screen and (max-width: 750px){
.second{
  .icons{
    padding: 1px 150px;
  }
  }
}
@media only screen and (max-width: 500px){
  .second{
    .icons{
      padding: 0px 100px;
    }
  }
}

.third{
  background-color: $back_color2;
  font-family: $family;
  height: 150px;
  a{
    color: white;
    background-color: $button_color;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    @include border-radius(10px);
    position: absolute;
    left: 40%;
    &:hover{
      color: white;
      background-color: $button_color_hover;
    }
  }
}
@media only screen and (max-width: 750px){
  .third{
    a{
      left: 25%;
    }
  }
}

/*
  ====================================================================
  Footer
  ====================================================================
*/
footer{
  font-family: $family;
  background-color: $main_color;

  h3{
    color: white;
    text-align: left;
    font-weight: 300;
  }
  a{
    color: white;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
      color: $button_color_hover;
    }
    img{
      width: 50px;
      margin: 8px;
    }
  }
  img{
    width: 85px;
  }
  h6{
    color: white;
  }
}