/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ====================================================================
  Header
  ====================================================================
*/
.boxxx {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  border: 1px solid green;
  background-color: red;
}

/*
  ====================================================================
  Main
  ====================================================================
*/
body h2 {
  text-align: center;
  color: #009e49;
}
body h3 {
  text-align: center;
  color: #575757;
}
body h4 {
  font-weight: 600;
  margin: 10px 0 -7px 0;
}
body hr {
  width: 400px;
  border: 1px solid #a7a7a7;
}

.first {
  background-color: #f3f3f3;
  color: #575757;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}
.first .icons {
  background-image: url(images/icons.png);
  background-repeat: no-repeat;
  outline: none;
  margin-bottom: 40px;
  padding: 0 80px 10px;
}
.first .speed {
  background-position: 0 -100px;
}
.first .simplicity {
  background-position: 0 10px;
}
.first .best_price {
  background-position: 0 -200px;
}
.first .buy {
  background-position: 0 -310px;
}

@media only screen and (max-width: 400px) {
  h5 {
    font-size: 12px;
  }

  .first .icons {
    padding: 0 80px;
  }
}
.second {
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  background-color: #ececec;
}
.second h2 {
  margin-top: 80px;
}
.second h4 {
  margin-top: 50px;
}
.second h5 {
  padding-right: 30px;
}
.second .icons {
  margin-top: 50px;
  background-image: url(images/icons_step.png);
  background-repeat: no-repeat;
  outline: none;
  padding: 0;
}
.second .first_step {
  background-position: 0 -255px;
}
.second .second_step {
  background-position: 0 -500px;
}
.second .third_step {
  background-position: 0 -750px;
}
.second .fourth_step {
  background-position: 0 -960px;
}
.second .fifth_step {
  background-position: 0 0;
}

@media only screen and (max-width: 750px) {
  .second .icons {
    padding: 1px 150px;
  }
}
@media only screen and (max-width: 500px) {
  .second .icons {
    padding: 0px 100px;
  }
}
.third {
  background-color: #ececec;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  height: 150px;
}
.third a {
  color: white;
  background-color: #f37814;
  text-align: center;
  padding: 15px;
  font-size: 17px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 40%;
}
.third a:hover {
  color: white;
  background-color: #f35e1b;
}

@media only screen and (max-width: 750px) {
  .third a {
    left: 25%;
  }
}
/*
  ====================================================================
  Footer
  ====================================================================
*/
footer {
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  background-color: #009e49;
}
footer h3 {
  color: white;
  text-align: left;
  font-weight: 300;
}
footer a {
  color: white;
  text-decoration: underline;
}
footer a:hover {
  text-decoration: none;
  color: #f35e1b;
}
footer a img {
  width: 50px;
  margin: 8px;
}
footer img {
  width: 85px;
}
footer h6 {
  color: white;
}

/*# sourceMappingURL=main.css.map */
